<%= turbo_frame_tag 'channel_list' do %>
<table id='channel_list_table' border='1'>
  <tr>
    <th>Channel ID</th>
    <th>Published After</th>
    <th>Published Before</th>
    <th>Min Duration</th>
    <th>Max Duration</th>
    <th>Videos</th>
    <th>Keywords</th>
    <th>Non-Keywords</th>
    <th></th>
    <th></th>
  </tr>
  <% channels.each do |channel| %>
    <%= render partial: "channels/add", locals: { channel: channel } %>
  <% end %>
</table>
<% end %>
