<div class='api-key>
<p class='api-key-details'>Your API Key is '<b><%= @api_key %></b>'</p>
<%= link_to 'Edit Api Key', api_key_edit_path %>
</div>

<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>