= link_to "Add Category", new_category_path, :class => [:button, 'is-info', 'm-4', :new_category, 'is-pulled-right']

.columns.mt-6.is-flex-direction-column.is-align-items-center.has-text-centered
  - @categories.each do |category|
    == render category
