= link_to "Add Channel", new_category_channel_path(@category),
:class => [:button, 'is-info', 'm-4', :new_category, 'is-pulled-right'], data: { turbo_frame: 'channel_form_placeholder' }

.is-flex.is-justify-content-center.mt-4
  == render @category

.is-flex.is-flex-direction-column.is-align-items-center.mt-4.table.is-striped
  == render partial: 'channels/index', locals: { channels: current_user.channels.where(category_id: @category.id) }

= turbo_frame_tag 'channel_form_placeholder' do