<nav class="navbar has-background-primary-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-2 has-text-white">
      Qualyy
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
	  <div class="navbar-end">
      <span class="navbar-item">
        <a href="https://github.com/sapienfrom2000s/Qualyy" class="button is-dark is-inverted">
          <span>Github</span>
        </a>
      </span> 

      <span class="navbar-item">
        <a href="/albums" class="button is-dark is-inverted">
          <span>Albums</span>
        </a>
      </span>

      <span class="navbar-item">
        <a href="/api_key" class="button is-dark is-inverted">
          <span>API Key</span>
        </a>
      </span>

      <span class="navbar-item">
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, :class => ['button', 'is-dark', 'is-inverted'] %>
      </span>

		</div>
	  </div>
  </div>	  
</nav>